{% extends "layout.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}
  <h2>Search Results for "{{ query }}"</h2>

  {% if users|length == 0 %}
    <p>No users found.</p>
  {% else %}
    <ul>
      {% for user in users %}
        <li>
          <a href="{{ url_for('profile_bp.profile_view_other', user_id=user._id) }}">
            {{ user.username }} ({{ user.email }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
